{% extends "base-admin.html" %}
{% block title %}添加商铺{% endblock %}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block main %}
    <h2>添加商铺</h2>
    <hr>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'form_bootstrap.html' %}
        <br>
        <div class="control-group" align="center">
            <div class="btn-group">
                <input type="submit"  class="btn btn-primary" value="添加"/>
            </div>
        </div>
    </form>
{% endblock %}