{% if is_paginated %}
<div class="pagination pagenav cleatfix ">
	<ul>

    {% if page_obj.has_previous %}
	<li>
		<a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="pagenav-cell pagenav-cell-next">&lsaquo;&lsaquo; 上一页</a>
	</li>
    {% else %}
	<li>
        <span class="disabled pagenav-cell">&lsaquo;&lsaquo; 上一页</span>
	</li>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
			<li>
                <span class="active pagenav-cell pagenav-cell-current">{{ page }}</span>
			</li>
            {% else %}
			<li>
                <a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="pagenav-cell">{{ page }}</a>
			</li>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
	<li>
        <a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="pagenav-cell pagenav-cell-next">下一页 &rsaquo;&rsaquo;</a>
	</li>
    {% else %}
	<li>
        <span class="disabled pagenav-cell">下一页 &rsaquo;&rsaquo;</span>
	</li>
    {% endif %}
	</ul>
</div>
{% endif %}
