{% extends "base-admin.html" %}
{% block title %}修改登录密码{% endblock %}
{% block head %}
<style type="text/css">
.errorlist {
	  background-color: #f2dede;
	  border-color: #eed3d7;
	}


</style>
{% endblock %}
{% block main %}
    <h2>修改登录密码</h2>
    <hr>
	<form name='form' enctype="multipart/form-data" action="" method="post">
		{% csrf_token %}
		{% if word  %}
		<div class="alert alert-danger">
			<p>{{ word }}</p>
		</div>
		{% endif %}
        <table border="0" cellpadding="0" >
            {{ form.as_table }}
        </table>
        <br>
        <div class="control-group" align="center">
            <div class="btn-group">
                <input type="submit"  class="btn btn-primary" value="修改"/>
            </div>
        </div>
    </form>
{% endblock %}
