<div id="nav" class="grid grid-20">
      <ul class="nav clearfix">
          <li class="nav-item nav-item-home"><a class="nav-item-link" href="/">首页</a></li>
          <li class="nav-item nav-item-hover"><a class="nav-item-link" href="/wel/classfiy/0.html">商品供应</a></li>
          <li class="nav-item nav-item-hover"><a class="nav-item-link" href="{% url 'list_subject' %}">汽配论坛</a></li>
          <li class="nav-item"><a class="nav-item-link" href="{% url 'needs_list' %}">需求市场</a></li>
          <li class="nav-item"><a class="nav-item-link" href="{% url 'comment_online' %}">在线留言</a></li>
          <li class="nav-item"><a class="nav-item-link" href="{% url 'about_us' %}">关于我们</a></li>
      </ul> <!-- .nav -->
</div> <!-- #nav -->
