{% extends 'base.html' %}


{% block need_content %}

<div class="grid grid-14">

  <form action="" method="post">
    {% csrf_token %}
    <table class="table" style="margin-top:25px" cellpadding="19">
      {% if form.car_type.errors%}
      <tr>
        <td colspan="2">{{ form.car_type.errors }}</td>
      </tr>
      {% endif %}
      <tr>
        <td><label for="car_type" class='grid grid-2 '>需求配件:</label></td>
        <td><input class="form-input grid grid-11"  name={{ form.car_type.name}} value={{ form.car_type.value | default:""}}></input></td>
      </tr>

      {% if form.short_dsc.errors%}
      <tr>
        <td colspan="2">{{ form.short_dsc.errors }}</td>
      </tr>
      {% endif %}
      <tr>
        <td><label for="car_type" class='grid grid-2'>简单描述:</label></td>
        <td ><input class="form-input grid grid-11" name={{ form.short_dsc.name}} value={{ form.short_dsc.value | default:"" }}></input></td>
      </tr>

      {%if  form.long_dsc.errors %}
      <tr>
        <td colspan="2">{{ form.long_dsc.errors }}</td>
      </tr>
      {% endif %}
      <tr>
        <td><label for="car_type" class='grid grid-2'>详细描述:</label></td>
        <td><textarea style="height:250px;"  class="form-input grid grid-11"  name={{ form.long_dsc.name}} value={{ form.long_dsc.value | default:"" }}></textarea></td>
      </tr>


      <tr>
        <td class=''colspan=2 >
          <input type="submit" value="提交"  class="button button-green" style="float:right;"/>
        </td>
      </tr>
    </table>


  </form>
</div>

<div class="grid grid-5 aside" style="margin-top:20px">
  <div class='typo-h4' style="margin-left:90px">小贴士</div>
  <div style="margin-left:20px; margin-right:20px;margin-bottom: 30px" >本页为用于户发布需求,请使用顶部关键词搜索符合您的需求.</p>
    <br />
    <a href="{% url 'needs_list' %}" class="button button-green">查看需求列表</a>
  </div>

  {% endblock %}
